
    <table class="table table-striped table-hover">
      <thead>
        <tr class="table-primary">
          <th scope="col">N°</th>
          <th scope="col">Donateur</th>
          <th scope="col">Pfs</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="
            let participant of participantsList;
            let indexOfelement = index
          ">
          <td>
            <h6 class="card-title">{{ indexOfelement + 1 }}</h6>
          </td>
          <td>
            <h6 class="card-text">{{ participant.name }}</h6>
          </td>
          <td>
            <h6 class="card-title">{{ participant.donation }}</h6>
          </td>
          <td *ngIf="participant.isAuto" class="badge text-bg-primary">
            auto
          </td>
        </tr>
      </tbody>
      <thead>
        <tr class="table-primary">
          <th scope="col"></th>
          <th scope="col"></th>
          <th scope="col">{{ totalJackpot }}</th>
        </tr>
      </thead>
    </table>
  </div>
