<div class="container-fluid">
  <div class="row">

    <div class="col-12 col-md-4">
      <form (ngSubmit)="onSubmitImportForm()">
        <div class="bg-light">
          <label for="labelWinners" class="form-label">
            <h4>Début de période : </h4>
          </label>
          <div class=" d-flex justify-content-between">
            <input type="date" required name="startOfPeriod" id="startOfPeriodId" [(ngModel)]="importDate" />
            <button class="btn btn-warning" (click)="onSubmitTestImportForm()">Exemple</button>
          </div>
        </div>
        <br>
        <textarea required name="importDatas" id="importDatasId" class="form-control bg-light"
          placeholder="Copier le fil cagnotte ici !" rows="16" [(ngModel)]="importDatas"></textarea>

        <br><br>

        <div class="d-grid">
          <button class="btn btn-danger" type="submit" [disabled]="!importDatas || !importDate">
            <h5>Extraire les données !</h5>
          </button>
        </div>

      </form>

    </div>


    <div class="col-12 col-md-4" *ngIf="participantsList">
      <form #paramsForm="ngForm" (ngSubmit)="onSubmitConfigForm(paramsForm.value)">
        <div class="bg-success p-2 text-dark bg-opacity-10">
          <label for="labelWinners" class="form-label">
            <h4>Gagnants : </h4>
          </label>
          <select required name="winnerGold" class="form-select" ngModel>
            <option value="">Choisissez le gagnant 🎁🎁🎁</option>
            <option *ngFor="let participant of participantsList" value="{{ participant.name }}">
              {{ participant.name }}
            </option>
          </select>

          <select required name="winnerSilver" class="form-select" ngModel>
            <option value="">Choisissez le gagnant 🎁🎁</option>
            <option *ngFor="let participant of participantsList" value="{{ participant.name }}">
              {{ participant.name }}
            </option>
          </select>

          <select required name="winnerBronze" class="form-select" ngModel>
            <option value="">Choisissez le gagnant 🎁</option>
            <option *ngFor="let participant of participantsList" value="{{ participant.name }}">
              {{ participant.name }}
            </option>
          </select>

        </div>

        <br><br>

        <div class="bg-warning p-2 text-dark bg-opacity-10">
          <label for="labelWinners" class="form-label">
            <h4>Répartiteur : </h4>
          </label>
          <select required name="dispatcher" class="form-select" ngModel>
            <option value="">--Choisissez le répartiteur--</option>
            <option *ngFor="let participant of participantsList" value="{{ participant.name }}">
              {{ participant.name }}
            </option>
          </select>
        </div>

        <br><br>

        <div class="d-grid">
          <button class="btn btn-danger" type="submit" [disabled]="!paramsForm.form.valid">
            <h5>Lancer la répartition !</h5>
          </button>
        </div>


      </form>
    </div>

    <div class="col-12 col-md-4" *ngIf="participantsList">
      <table class="table table-striped table-hover">
        <thead>
          <tr class="table-primary">
            <th scope="col">N°</th>
            <th scope="col">Donateur</th>
            <th scope="col">Pfs</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="
              let participant of participantsList;
              let indexOfelement = index
            ">
            <td>
              <h6 class="card-title">{{ indexOfelement + 1 }}</h6>
            </td>
            <td>
              <h6 class="card-text">{{ participant.name }}</h6>
            </td>
            <td>
              <h6 class="card-title">{{ participant.donation }}</h6>
            </td>
            <td *ngIf="participant.isAuto" class="badge text-bg-primary">
              auto
            </td>
          </tr>
        </tbody>
        <thead>
          <tr class="table-primary">
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col">{{ totalJackpot }}</th>
          </tr>
        </thead>
      </table>
    </div>
  </div>



  <!-- ********************************************************************************************************************* -->

  <div *ngIf="repartitionsList">
    <div class="bg-success p-2 text-dark bg-opacity-10">
      <h4 class="shadow p-3 mb-5 bg-body rounded">Guilde : 🌜CALADAN 🌛</h4>
      <div class="content" appCopyToClipboard appShadowContainer>
        Le calcul de la répartition des gains a été effectué, merci aux participants
        ! Vous trouverez votre propre fil en social, reprenant la répartition des
        gains.<br />
        <div *ngFor="let winner of winnersList; let indexOfelement = index">
          <br />
          {{ indexOfelement + 1 }}. Répartition cagnotte 🥇🥈🥉 {{ winner.name }} -
          {{ jackpotList[indexOfelement] }} pfs<br />
          <span *ngFor="let repartition of repartitionsList[indexOfelement]">{{ repartition.name }}, </span><br />
        </div>
        <br />
        Vous pouvez vérifier que vous y avez bien accès et ainsi vous acquitter de
        votre don.
      </div>
    </div>
  </div>
  <br>

  <!-- ********************************************************************************************************************* -->

  <div *ngIf="repartitionsList">
    <div class="bg-warning p-2 text-dark bg-opacity-10">
      <h4 class="shadow p-3 mb-5 bg-body rounded">Social</h4>
      <div *ngFor="let winner of winnersList; let indexOfelement = index">
        <h5 class="shadow p-3" appCopyToClipboard appShadowContainer>
          Répartition cagnotte 🥇🥈🥉 {{ winner.name }}
        </h5>
        <br>
        <div class="content" appCopyToClipboard appShadowContainer>
          Bonsoir à toutes et à tous,<br /><br />
          Voilà le fil pour l'attribution de la récompense au
          {{ indexOfelement + 1 }}° gagnant : {{ winner.name }}, pour la période
          du {{ importDate | customPeriod: 0 }}.<br />
          Merci à {{ winner.name }} de lier un GM sur ce fil (avec un niveau
          vierge et ouvert pour faciliter le suivi) afin que les dons puissent
          être déposés.<br /><br />
          Ps: comme c’est un don, merci de reverser le bénéfice sur le même gm
          dans le cas où vous prenez une place qui vous rapporte des pfs. Je
          compte sur votre honnêteté !
  
          Doivent déposer sur le gm de {{ winner.name }} ⚠ mettre nom GM ⚠ :
          (copier/coller message et indiquer "fait")<br />
          <div *ngFor="let repartition of repartitionsList[indexOfelement]">
            {{ repartition.name }} {{ repartition.donation }}
          </div>
        </div>
        <br> <br>
      </div>
    </div>
  </div>
  <br>
  
  <!-- *********************************************************************************************************************-->
  
  <div *ngIf="repartitionsList">
    <div class="bg-danger p-2 text-dark bg-opacity-10">
      <h4 class="shadow p-3 mb-5 bg-body rounded">Social</h4>
      <h5 class="shadow p-3" appCopyToClipboard appShadowContainer>
        🥇Cagnotte période du {{ importDate | customPeriod: 1 }}
      </h5>
      <br>
      <div class="content" appCopyToClipboard appShadowContainer>
        Tous les 15 jours, nous récompensons les 3 joueurs qui ont eu la meilleure
        progression.<br />
        Comment ?<br />
        Toutes les 2 semaines, nous ouvrons une cagnotte et chaque chaque joueur
        pourra y souscrire en écrivant son nom et le nombre de PFS qu’il souhaite
        donner. Ce don n’est absolument pas obligatoire ! Sachez néanmoins que si
        vous etes dans le top 3 des meilleures progressions, vous ne pourrez pas
        remporter la cagnotte si vous n'y participez pas. 😊<br />
        <br />
        Le total de ces promesses constitueront donc la cagnotte qui sera répartie
        entre les trois vainqueurs de la façon suivante :<br />
        P1 : 50% des dons 🎁🎁🎁<br />
        P2 : 30% des dons🎁🎁<br />
        P3 : 20% des dons🎁<br />
        <br />
        Les gagnants pourront alors indiquer sur quel GM ils souhaitent que la
        récompense soit déposée. Pas d’inquiétude ! pas de calcul de répartition
        ou de pourcentage à faire ! J’indiquerai à chacun à qui il doit donner ses
        PFS afin que chaque gagnant touche le bon montant de la récompense 😊<br />
        <br />
        Donc il est donc important d’attendre mes indications avant de déposer les
        PF, sinon il nous sera impossible d’obtenir la répartition 50, 30, 20 !<br />
        <br />
        Il sera impossible de gagner deux fois d’affiliées :<br />
        Exemple:<br />
        Si vous êtes 3ième en période 1<br />
        Et 3ième en période 2.<br />
        Vous ne toucherez pas de récompense en période 2. Celle ci sera attribuée
        au 4ième.<br />
        <br />
        Autre exemple:<br />
        Vous êtes 3ième la période 1, premier la période 2, ==> Vous ne toucherez
        pas de récompenses en période 2 non plus.<br />
        <br />
        Tout redevient normal en période 3, vous pouvez de nouveau gagner la
        récompense<br />
        <br />
        Pour info, les membres du conseil de Caladan renoncent à leur droit de
        gagner la cagnotte. 😉
      </div>
    </div>
  </div>
  <br>

  <!-- ********************************************************************************************************************* -->

  <div *ngIf="repartitionsList">
    <div class="bg-danger p-2 text-dark bg-opacity-10">
      <div class="content" appCopyToClipboard appShadowContainer>
        Cagnotte pour la période du {{ importDate | customPeriod: 1 }} (
        <span *ngFor="let winner of winnersList">{{ winner.name }}, </span>
        ) ne sont pas éligibles aux gains mais rien ne les empêche d'être dans le
        top 3 quand même ;) )<br />
        Promesses de dons (Nom suivi de pf, suivi de '(auto)' si vous voulez un
        report automatique):<br />
        <div *ngFor="let participant of participantsList">
          <div *ngIf="participant.isAuto">
            {{ participant.name }} {{ participant.donation }} (auto)
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>